.container {
  padding-top: 20px;
  width: 1180px;
  margin: .75rem auto;
}

.blogs {
   background-color: #FFF7E6;
   .title {
     text-align: center;
     font-size: 28px;
     margin-top: 40px;
   }
 }