.header {
  .container {
    width: 1180px;
    margin: .75rem auto;
  }

  .headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .buttons {
      display: flex;
      gap: 10px;
    }
  }
}