.header {
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #00000026;

  .container {
    width: 1180px;
    margin: .75rem auto;
  }

  .headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .buttons {
      display: flex;
      gap: 10px;
    }
  }
}