.banner {
  display: flex;
  .image {
    display: block;
    width: 100%;
    height: 100%;
  }
  .bannerLeft {
    width: calc(100% * 2 / 3);
    padding: 10px;
  }

  .bannerRight {
    width: calc(100% / 3);
    .bannerItem {
      padding: 10px;
    }
  }
}